/* COLOR Text Selection */
/******************************/
::selection {
    background-color: lightyellow;
    color: black;
}

::-moz-selection {
  background-color: lightyellow;
  color: black;
}

::-webkit-selection {
  background-color: lightyellow;
  color: black;
}

/* SCROLLBAR Custom */
/******************************/
::-webkit-scrollbar {
    width: 12px;
    background-color: #f0f0f0;
}

/* Thumb Color */
::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 6px;
    border: 3px solid #f0f0f0;
}

/* Thumb Hover Color */
::-webkit-scrollbar-thumb:hover {
    background: #999999;
}

/* Track Color */
::-webkit-scrollbar-track {
    background: #e0e0e0
    border-radius: 6px;
}

/* CATEGORIES Custom */
/******************************/
.quarto-category {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 75%;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.375rem;
  color: #fff;
  background-color: #18bc9c;
}

/* Light Style */
body.quarto-light .quarto-category {
  background-color: #1abc9c;
  color: #fff;
}

/* Light Hover Style */
body.quarto-light .quarto-category:hover {
  background-color: transparent;
  color: #11967c;
  border-color: #11967c;
}

/* Dark Style */
body.quarto-dark .quarto-category {
  background-color:#75ffe4;
  color: #333333;
  border-color: #ffffff;
}

/* Dark Hover Style */
body.quarto-dark .quarto-category:hover {
  background-color: transparent;
  color: #75ffe4;
  border-color: #75ffe4;
}

/* NAVBAR Custom */
/******************************/
.navbar #quarto-search.type-overlay .aa-Autocomplete {
    width: 60px;
}

.navbar .aa-DetachedSearchButton .aa-DetachedSearchButtonIcon {
    width: 18px;
    height: 18px;
    display: flex;
    flex: 1 1 auto;
    margin-top: 5px;
}

.navbar .active {
  font-weight: bold;
}

.navbar-nav .nav-link:hover {
  text-decoration: underline;
}

.navbar .dropdown-menu {
    width: auto;       /* que se adapte al contenido */
    min-width: 100px;  /* ancho mínimo */
}

/* Cover JS typing-effect style */
/******************************/
#typing-effect {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    white-space: nowrap;
}

/* CV Details */
/**********************************************************/
/* Arrow */
/******************************/
body.quarto-light details summary::marker {
  font-size: 0.85rem;
  color: #707070;
  margin-top: 0.5rem;
}

body.quarto-light details summary:hover::marker {
  color: #cccccc;
}

body.quarto-light details[open] summary::marker {
  color: #cccccc;

}

body.quarto-light details[open] summary:hover::marker {
  color: #707070;
}

/* Summary */
/******************************/
body.quarto-light details summary {
  font-size: 0.85rem;
  color: #707070;
  margin-top: 0.5rem;
}

body.quarto-light details summary:hover {
  color: #cccccc;
}

body.quarto-light details[open] summary {
  color: #cccccc;
}

body.quarto-light details[open] summary:hover {
  color:#707070;
}

/* Details */
/******************************/
body.quarto-light details {
  color: #454545;
  font-size: 0.9rem;
}

/* Arrow Dark */
/******************************/
body.quarto-dark details summary::marker {
  font-size: 0.85rem;
  color: #dedede;
  margin-top: 0.5rem;
}

body.quarto-dark details summary:hover::marker {
  color: #666666;
}

body.quarto-dark details[open] summary::marker {
  color: #666666;

}

body.quarto-dark details[open] summary:hover::marker {
  color: #dedede;
}

/* Summary Dark */
/******************************/
body.quarto-dark details summary {
  font-size: 0.85rem;
  color: #dedede;
  margin-top: 0.5rem;
}

body.quarto-dark details summary:hover {
  color: #666666;
}

body.quarto-dark details[open] summary {
  color: #666666;
}

body.quarto-dark details[open] summary:hover {
  color: #dedede;
}

/* Details Dark*/
/******************************/
body.quarto-dark details {
  color: #dedede;
  font-size: 0.9rem;
}





